### Link do CSV: 

https://www.kaggle.com/arjunbhasin2013/ccdata

---

<p><font size=4>Este caso requer o desenvolvimento de uma segmentação de clientes para definir a estratégia de marketing. O conjunto de dados de amostra resume o comportamento de uso de cerca de 9.000 titulares de cartões de crédito ativos durante os últimos 6 meses.</font></p><br>

<p><font size=4><strong>Colunas</strong></font></p>

* <strong>CUSTID</strong> : Identification of Credit Card holder (Categorical)
* <strong>BALANCE</strong> : Balance amount left in their account to make purchases (
* <strong>BALANCEFREQUENCY</strong> : How frequently the Balance is updated, score between 0 and 1 (1 = frequently updated, 0 = not frequently updated)
* <strong>PURCHASES</strong> : Amount of purchases made from account
* <strong>ONEOFFPURCHASES</strong> : Maximum purchase amount done in one-go
* <strong>INSTALLMENTSPURCHASES</strong> : Amount of purchase done in installment
* <strong>CASHADVANCE</strong> : Cash in advance given by the user
* <strong>PURCHASESFREQUENCY</strong> : How frequently the Purchases are being made, score between 0 and 1 (1 = frequently purchased, 0 = not frequently purchased)
* <strong>ONEOFFPURCHASESFREQUENCY</strong> : How frequently Purchases are happening in one-go (1 = frequently purchased, 0 = not frequently purchased)
* <strong>PURCHASESINSTALLMENTSFREQUENCY</strong> : How frequently purchases in installments are being done (1 = frequently done, 0 = not frequently done)
* <strong>CASHADVANCEFREQUENCY</strong> : How frequently the cash in advance being paid
* <strong>CASHADVANCETRX</strong> : Number of Transactions made with "Cash in Advanced"
* <strong>PURCHASESTRX</strong> : Numbe of purchase transactions made
* <strong>CREDITLIMIT</strong> : Limit of Credit Card for user
* <strong>PAYMENTS</strong> : Amount of Payment done by user
* <strong>MINIMUM_PAYMENTS</strong> : Minimum amount of payments made by user
* <strong>PRCFULLPAYMENT</strong> : Percent of full payment paid by user
* <strong>TENURE</strong> : Tenure of credit card service for user

---

## Pacotes

In [1]:
# Processamento 
import pandas               as pd
import numpy                as np

# Visualização
import matplotlib.pyplot    as plt
import seaborn              as sns

# Machine Learning
from sklearn.preprocessing  import Normalizer
from sklearn.cluster        import KMeans
from sklearn                import metrics

## Análises

In [2]:
# Lendo o CSV e excluindo as colunas CUST_ID e TENURE pois não serão utilizadas para as análises

dataframe = pd.read_csv("CC GENERAL.csv")
dataframe.drop(columns=["CUST_ID", "TENURE"], inplace=True)
dataframe.head()

,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT
0,40.900749,0.818182,95.40,0.00,95.4,0.000000,0.166667,0.000000,0.083333,0.000000,0,2,1000.0,201.802084,139.509787,0.000000
1,3202.467416,0.909091,0.00,0.00,0.0,6442.945483,0.000000,0.000000,0.000000,0.250000,4,0,7000.0,4103.032597,1072.340217,0.222222
2,2495.148862,1.000000,773.17,773.17,0.0,0.000000,1.000000,1.000000,0.000000,0.000000,0,12,7500.0,622.066742,627.284787,0.000000
3,1666.670542,0.636364,1499.00,1499.00,0.0,205.788017,0.083333,0.083333,0.000000,0.083333,1,1,7500.0,0.000000,NaN,0.000000
4,817.714335,1.000000,16.00,16.00,0.0,0.000000,0.083333,0.083333,0.000000,0.000000,0,1,1200.0,678.334763,244.791237,0.000000

In [3]:
# Vendo as colunas quem contem NULL

missing = dataframe.isna().sum()
print(missing)

BALANCE                               0
BALANCE_FREQUENCY                     0
PURCHASES                             0
ONEOFF_PURCHASES                      0
INSTALLMENTS_PURCHASES                0
CASH_ADVANCE                          0
PURCHASES_FREQUENCY                   0
ONEOFF_PURCHASES_FREQUENCY            0
PURCHASES_INSTALLMENTS_FREQUENCY      0
CASH_ADVANCE_FREQUENCY                0
CASH_ADVANCE_TRX                      0
PURCHASES_TRX                         0
CREDIT_LIMIT                          1
PAYMENTS                              0
MINIMUM_PAYMENTS                    313
PRC_FULL_PAYMENT                      0
dtype: int64

In [4]:
# Preenchendo os valores nulos com as MEDIANA

dataframe.fillna(dataframe.median(), inplace=True)
missing = dataframe.isna().sum()
print(missing)

BALANCE                             0
BALANCE_FREQUENCY                   0
PURCHASES                           0
ONEOFF_PURCHASES                    0
INSTALLMENTS_PURCHASES              0
CASH_ADVANCE                        0
PURCHASES_FREQUENCY                 0
ONEOFF_PURCHASES_FREQUENCY          0
PURCHASES_INSTALLMENTS_FREQUENCY    0
CASH_ADVANCE_FREQUENCY              0
CASH_ADVANCE_TRX                    0
PURCHASES_TRX                       0
CREDIT_LIMIT                        0
PAYMENTS                            0
MINIMUM_PAYMENTS                    0
PRC_FULL_PAYMENT                    0
dtype: int64

In [5]:
# Normalizando os valores

values = Normalizer().fit_transform(dataframe.values)
print(values)

[[3.93555441e-02 7.87271593e-04 9.17958473e-02 ... 1.94178127e-01
  1.34239194e-01 0.00000000e+00]
 [2.93875903e-01 8.34231560e-05 0.00000000e+00 ... 3.76516684e-01
  9.84037959e-02 2.03923046e-05]
 [3.10798149e-01 1.24560965e-04 9.63068011e-02 ... 7.74852335e-02
  7.81351982e-02 0.00000000e+00]
 ...
 [2.27733092e-02 8.11060955e-04 1.40540698e-01 ... 7.90986945e-02
  8.02156174e-02 2.43318384e-04]
 [2.65257948e-02 1.64255731e-03 0.00000000e+00 ... 1.03579625e-01
  1.09898221e-01 4.92767391e-04]
 [1.86406219e-01 3.33426837e-04 5.46778061e-01 ... 3.15915455e-02
  4.41568390e-02 0.00000000e+00]]

In [6]:
# Aplicando o KMEANS com 5 clusters e atribuindo as labels para uma váriavel

kmeans = KMeans(n_clusters=5, n_init=10, max_iter=300)
y_pred = kmeans.fit_predict(values)

labels = kmeans.labels_

### Silhouette

In [7]:
silhouette = metrics.silhouette_score(values, labels, metric='euclidean')
print(silhouette)

0.3643891019677421

### Davies Bouldin

In [8]:
dbs = metrics.davies_bouldin_score(values, labels)
print(dbs)

1.0759284127085977

### Calinski Harabszz

In [9]:
calinski = metrics.calinski_harabasz_score(values, labels)
print(calinski)

3431.776631279097

<font size=4><strong>Função para verificar se conforme aumente o número de cluester, os parâmetros avaliativos melhorem, afim de escolher a melhor quantidade de clusters.</strong></font>

In [10]:
def clustering_algorithm(n_clusters, dataset):
    kmeans = KMeans(n_clusters=n_clusters, n_init=10, max_iter=300)
    labels = kmeans.fit_predict(dataset)
    s = metrics.silhouette_score(dataset, labels, metric='euclidean')
    dbs = metrics.davies_bouldin_score(dataset, labels)
    calinski = metrics.calinski_harabasz_score(dataset, labels)
    return s, dbs, calinski

In [11]:
# Com 3 clusters

s1, dbs1, calinski1 = clustering_algorithm(3, values)
print(s1, dbs1, calinski1)

0.3272203126696238 1.3096073640088428 3526.440519908274

In [12]:
# Com 5 clusters

s2, dbs2, calinski2 = clustering_algorithm(5, values)
print(s2, dbs2, calinski2)

0.3646088469759541 1.0753078627237762 3431.584051870429

In [13]:
# Com 10 clusters

s3, dbs3, calinski3 = clustering_algorithm(50, values)
print(s3, dbs3, calinski3)

0.24880243138386235 1.2457071976325818 1617.2255863234661

<font size=4.5><strong>Usaremos 5 clusters por ter dado um resultado de Silhouette melhor.</strong></font>

In [14]:
# Criaremos uma base de dados com valores randomicos, na mesma escala que nosso DataFrame original.
# Mesma quantidade de linhas e colunas, afim de verificar a qualidade dos clusters.

random_data = np.random.rand(8950, 16)
s, dbs, calinski = clustering_algorithm(5, random_data)
print(s, dbs, calinski)
print(s2, dbs2, calinski2)

0.039748441352062784 3.5150358594955096 303.43657819980933
0.3646088469759541 1.0753078627237762 3431.584051870429

In [15]:
# Iremos dividir nosso DataFrame em 3 partes, e observar a qualidade dos parâmetros avaliativos.
# Podemos notar que eles estão proporcionais, ou seja, nossos clusters foram formados corretamente.

set1, set2, set3 = np.array_split(values, 3)
s1, dbs1, calinski1 = clustering_algorithm(5, set1)
s2, dbs2, calinski2 = clustering_algorithm(5, set2)
s3, dbs3, calinski3 = clustering_algorithm(5, set3)
print(s1, dbs1, calinski1)
print(s2, dbs2, calinski2)
print(s3, dbs3, calinski3)

0.36897094584161894 1.0581656052369075 1204.0560966145406
0.3533685733592382 1.1419144796646459 1194.933911559292
0.3668564117315988 1.0993525253456347 1167.5313082261505

In [16]:
# Para analisar os clusters formados, iremos observar a variância, afim de analisar somente as Features
# que variaram.

centroids = kmeans.cluster_centers_
print(centroids)

[[3.33483624e-01 2.68969713e-04 1.59146477e-01 3.61931219e-02
  1.23336164e-01 5.80731211e-02 1.67333390e-04 2.64804728e-05
  1.47698430e-04 1.92281888e-05 4.25862512e-04 3.87053484e-03
  3.77114118e-01 2.52735252e-01 6.78741705e-01 4.21940580e-06]
 [5.04105094e-01 2.72167105e-04 6.15438810e-02 3.61370321e-02
  2.54285784e-02 2.53309289e-01 6.71965307e-05 2.56845751e-05
  4.49251577e-05 5.74947541e-05 1.15819794e-03 1.32736701e-03
  7.19252474e-01 1.66035311e-01 1.79161221e-01 5.52720859e-07]
 [6.91174009e-02 2.30606539e-04 1.21226581e-01 4.79772863e-02
  7.33497068e-02 2.41947578e-02 1.72617514e-04 3.36929404e-05
  1.40042773e-04 7.92242513e-06 1.23760508e-04 2.85805113e-03
  9.43803334e-01 1.53494462e-01 5.68407863e-02 7.58440293e-05]
 [1.59970277e-01 2.45420653e-04 4.37832758e-01 2.56342445e-01
  1.81661269e-01 2.57701902e-02 2.04632150e-04 8.87805917e-05
  1.51042337e-04 9.36227386e-06 1.69268877e-04 6.17437812e-03
  6.04822057e-01 4.02343053e-01 8.52508929e-02 7.25704005e-05]
 [2.35141479e-01 2.16555293e-04 6.03857074e-02 3.44170171e-02
  2.59739049e-02 4.00128071e-01 5.26401668e-05 2.04882397e-05
  3.51921361e-05 6.54864556e-05 1.57199032e-03 1.12217156e-03
  5.35089146e-01 5.98040052e-01 1.04348171e-01 2.77498236e-05]]

In [17]:
max = len(centroids[0])
for i in range(max):
    print(dataframe.columns.values[i],"\n{:.4f}".format(centroids[:, i].var()))

BALANCE
0.0224
BALANCE_FREQUENCY
0.0000
PURCHASES
0.0196
ONEOFF_PURCHASES
0.0076
INSTALLMENTS_PURCHASES
0.0036
CASH_ADVANCE
0.0226
PURCHASES_FREQUENCY
0.0000
ONEOFF_PURCHASES_FREQUENCY
0.0000
PURCHASES_INSTALLMENTS_FREQUENCY
0.0000
CASH_ADVANCE_FREQUENCY
0.0000
CASH_ADVANCE_TRX
0.0000
PURCHASES_TRX
0.0000
CREDIT_LIMIT
0.0360
PAYMENTS
0.0280
MINIMUM_PAYMENTS
0.0541
PRC_FULL_PAYMENT
0.0000

In [25]:
# Iremos agrupar por cluster, e observar os valores médios das Features que tiveram variância > 1.

dataframe["cluster"] = labels
description = dataframe.groupby("cluster")[["BALANCE", "PURCHASES", "CASH_ADVANCE", "CREDIT_LIMIT", "PAYMENTS"]]
n_clients = description.size()
description = description.mean()
description['n_clients'] = n_clients
print(description)

             BALANCE    PURCHASES  CASH_ADVANCE  CREDIT_LIMIT     PAYMENTS  \
cluster
0        1987.146873   858.326286    420.107194   2226.699029  1338.974045
1        3034.218419   381.722765   1638.154020   4489.875331   966.280942
2         444.146902   628.970831    141.666342   5135.052448   814.094493
3        1148.959844  3267.501781    182.614490   4107.357611  3035.900502
4        1794.024195   475.494823   3270.246792   3976.372399  4709.556601

         n_clients
cluster
0              412
1             2647
2             3275
3             1544
4             1072

## Conclusões

<strong>CLUSTER 0</strong>: Clientes que gastam pouco. Clientes com o maior limite. Bons pagadores. Maior número de clientes.

<strong>CLUSTER 1</strong>: Clientes que mais gastam. O foco deles é o saque. Piores pagadores. Boa quantidade de clientes.

<strong>CLUSTER 2</strong>: Clientes que gastam muito com compras. Melhores pagadores.

<strong>CLUSTER 3</strong>: Clientes que gastam muito com saques. Pagam as vezes.

<strong>CLUSTER 4</strong>: Clientes com o menor limite. Não são bons pagadores. Menor quantidade de clientes.

In [26]:
dataframe.groupby("cluster")["PRC_FULL_PAYMENT"].describe()

          count      mean       std  min  25%       50%       75%  max
cluster
0         412.0  0.019271  0.090795  0.0  0.0  0.000000  0.000000  1.0
1        2647.0  0.001800  0.023269  0.0  0.0  0.000000  0.000000  0.6
2        3275.0  0.246368  0.346480  0.0  0.0  0.000000  0.444444  1.0
3        1544.0  0.278724  0.367326  0.0  0.0  0.083333  0.545455  1.0
4        1072.0  0.117384  0.186853  0.0  0.0  0.083333  0.142857  1.0